/* wombat settings */
$toastr-width: 356px !default;
$successBgColor: #74c72d !default;
$infoBgColor: #4799ff !default;
$errorBgColor: #e84b81 !default;
/* non wombat settings */
$warningBgColor: #f7a336 !default;
$defaultSpace: 10px;